body{}

.maior{
    height: 600px;
    padding: 10px;
    background-color: rgb(163, 0, 101);
    background-image: url(img/target001.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    position: relative;
}

.menor{
    background-color: rgb(217, 255, 0);
    height: 200px;
    width: 300px;
    margin: auto;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    
}